{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}New question{% endblock %}

{% block content %}
<div class="container">

  <form id="question_form" action="{% url 'new-question' %}" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="row-fluid" >
    {% bootstrap_form form layout='horizontal' %}

    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-success"> Ask </button>
    </div>

    </div>
  </form>
</div>
{% endblock %}