{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Sign in{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <h3>Sign in</h3>
      <p>Not yet registered?
        <a href="{% url 'registration_register' %}">Register now</a></p>
      <p>Trouble signing in?
        <a href="{% url 'django.contrib.auth.views.password_reset' %}">Reset password.</a></p>
        {% if not user.is_authenticated %}
      <p><button class="btn btn-facebook">
          <a href="{% url 'socialauth_begin' 'facebook' %}"><i class="fa fa-facebook"></i> | Connect with Facebook</a>
        </button></p>
        {% endif %}
    </div>
  </div>

  {% if form.errors %}
  <div class="row">
    <div class="alert alert-danger col-sm-offset-2 col-sm-6">
      <p><strong>Login failed. Try again...</strong></p>
    </div>
  </div>
  {% endif %}

  <form action="{% url 'django.contrib.auth.views.login' %}" method="post" role="form" class="form-horizontal">
    {% csrf_token %}

    {% bootstrap_field form.username layout='horizontal' %}
    {% bootstrap_field form.password layout='horizontal' %}


    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary"> Login </button>
    </div>
  </form>

</div>
{% endblock %}