<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="padding-top: 70px; overflow-x:hidden;">
<div class=wrap>
<div class = "navbar navbar-inverse navbar-fixed-top" >
<div class = "container">
    <div class ="navbar-header">
        <a href="{% url "questions-list" %}" class ="navbar-brand">simpleSO</a>
    </div><!-- End Navbar Header-->

    <div class = "collapse navbar-collapse">

        <ul class = "nav navbar-nav navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">New Page</a></li>
            <li><a href="#">New Page</a></li>
            <li><a href="#">New Page</a></li>
        </ul>
        {% block nav_user %}
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-username"><a href="#">
                        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
                    </li>
                    <li>
                        <a  href="{% url 'django.contrib.auth.views.logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span> Sign out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a class="" href="{% url 'registration_register' %}" >
                        <span class="glyphicon glyphicon-user"></span> Sign up</button></a>
                    </li>
                    <li>
                        <a href="{% url 'django.contrib.auth.views.login' %}" >
                        <span class="glyphicon glyphicon-log-in"></span> Sign in</a>
                    </li>
                    <li>
                        <a href="{% url 'socialauth_begin' 'facebook' %}"><i class="fa fa-facebook"></i> | Connect with Facebook</a>
                    </li>
                </ul>
            {% endif %}
          {% endblock %}

    </div><!-- End Nav Contents -->
</div><!-- End Container -->
</div>

<div class="container">
<div class="row-fluid">
    <div class="col-sm-2 col-md-2"></div>

    <div class="col-sm-8 col-md-8"> <!-- Content -->
        {% block content %}
        {% endblock %}
    </div>

    <div class="col-sm-2 col-md-2">
    <a class="btn btn-default" href="{% url 'new-question' %}" > Ask question </a>
    </div>
</div>
</div> <!-- end container -->
<div id="push"></div>
</div> <!-- and wrap -->

<div id="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="muted credit text-center">{%now "Y"%}. Analogue stackoverflow, test task.</p>
    </div>
    </div>
</div>

<!-- js scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>